@use '../../scss/global/colors'as *;
@use '../../scss/utils/_functions.scss'as fn;

.nav {
    background-color: $General-white;
    display: flex;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    height: 6rem;
    font-weight: 600;
    font-size: fn.rem(16);
    box-shadow: .1rem .1rem .5rem rgba(0, 0, 0, .1);
    margin-bottom: 1rem;

    @media screen and (min-width: 768px) {
        font-size: fn.rem(20);
        height: 5rem;
        margin-bottom: 1.5rem;
    }

    .nav_nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .themeContainer {
        display: flex;
        align-items: center;
        column-gap: .8rem;
        transition: all .3s ease-in-out;

        &:hover {
            cursor: pointer;
            color: $Dark-gray-light-mode-input;
            transition: all .3s ease-in-out;
        }
    }
}

.light {
    background-color: $General-white;
    transition: all .3s ease-in-out;
}

.dark {
    background-color: $Dark-Blue-dark-mode-elements;
    transition: all .3s ease-in-out;
}