.discription {
    .country_details {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);


        .details_img {
            width: 100%;
            height: 300px;
            background: #000;
            object-fit: cover;
        }
    }

    .details_content {
        .country_info {
            .info_details {
                .country_capital {
                    margin-left: .2rem;
                }
            }
            
        }
    }


}